---

- name: Install docker
  gather_facts: No
  hosts: centosdocker

  vars_files:
    - vars.yml

  handlers:
    - name: restart_docker
      systemd:
        name: docker
        daemon_reload: yes
        state: restarted

    - name: apply_firewalld_rules
      command: "firewall-cmd --reload"

  tasks:
    - name: Install yum utils
      yum:
        name: yum-utils
        state: latest

    - name: Install device-mapper-persistent-data
      yum:
        name: device-mapper-persistent-data
        state: latest

    - name: Install lvm2
      yum:
        name: lvm2
        state: latest

    - name: Add Docker repo
      get_url:
        url: https://download.docker.com/linux/centos/docker-ce.repo
        dest: /etc/yum.repos.d/docer-ce.repo
      become: yes

    - name: Enable Docker Edge repo
      ini_file:
        dest: /etc/yum.repos.d/docer-ce.repo
        section: 'docker-ce-edge'
        option: enabled
        value: 0
      become: yes

    - name: Enable Docker Test repo
      ini_file:
        dest: /etc/yum.repos.d/docer-ce.repo
        section: 'docker-ce-test'
        option: enabled
        value: 0
      become: yes

    - name: Install Docker
      package:
        name: docker-ce
        state: latest
      become: yes

    - name: Start Docker service
      service:
        name: docker
        state: started
        enabled: yes
      become: yes

    - name: Create config directory
      file:
        path: /etc/systemd/system/docker.service.d
        state: directory
        mode: '0755'

    - name: Create config file
      copy:
        dest: "/etc/systemd/system/docker.service.d/startup_options.conf"
        content: |
          [Service]
          ExecStart=
          ExecStart=/usr/bin/dockerd -H fd:// -H tcp://0.0.0.0:{{ docker_port }}
      notify: restart_docker

    - name: Open Docker port
      firewalld:
        port: "{{ docker_port }}/tcp"
        permanent: yes
        state: enabled
      notify: apply_firewalld_rules
