- name: Install Kafka Ecosystem
  gather_facts: No
  hosts: centosdocker

  tasks:
    - name: Zookeeper
      docker_container:
        name: zookeeper
        image: confluent/zookeeper
        state: started
        ports:
          - "2181:2181"
          - "2888:2888"
          - "3888:3888"
        networks_cli_compatible: yes
        networks:
          - name: sandbox

    - name: Kafka
      docker_container:
        name: kafka
        hostname: kafka
        image: confluent/kafka
        state: started
        ports:
          - "9092:9092"
        networks_cli_compatible: yes
        networks:
          - name: sandbox

    - name: Schema_Registry
      docker_container:
        name: schema-registry
        image: confluent/schema-registry
        state: started
        ports:
          - "8081:8081"
        networks_cli_compatible: yes
        networks:
          - name: sandbox

    - name: Rest_Proxy
      docker_container:
        name: rest-proxy
        image: confluent/rest-proxy
        state: started
        ports:
          - "8082:8082"
        networks_cli_compatible: yes
        networks:
          - name: sandbox

    - name: Kafka_Manager
      docker_container:
        name: kafka-manager
        image: sheepkiller/kafka-manager
        state: started
        ports:
          - "9000:9000"
        networks_cli_compatible: yes
        networks:
          - name: sandbox
        env:
          ZK_HOSTS: "zookeeper:2181"

    - name: Kafka_Lag_Exporter
      docker_container:
        name: kafka-lag-exporter
        image: "braedon/prometheus-kafka-consumer-group-exporter:0.5.5"
        state: started
        ports:
          - "9208:9208"
        networks_cli_compatible: yes
        networks:
          - name: sandbox
        command: "-b kafka:9092"
